.footer{
    width: 100%;
    height: 300px;
  
    background:  linear-gradient(
      rgba(80, 76, 138, 1), 
      rgba(80, 76, 138, 1)
    );
    background: url(https://thumbs.dreamstime.com/z/life-sentence-blue-stamp-white-background-97579275.jpg);
  }
  .contact{
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 0px;
  }

  .blur-image-footer {
    opacity: 1;
    width: 100%;
    height: 240px;
  
  }

  .footer .overlay{
 
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    z-index: 1000;
    background-color: rgba(80, 76, 138, 0.99);
   

    margin: auto;
    color: white;
    
  }
.copyright
{
  margin: auto;
 
  color: white;
  width: 100%;
  background-color: rgb(69, 64, 130);
  
}
.copyright-text{
  margin: auto;
  margin-top: 10px;
  margin-right: 10%;
  margin-left: 10%;
    
}

  .social-container{
    margin: auto;
    margin-left: 10%;

    padding-top: 50px;
    
   }
   .social {
    margin-top: 20px;
    display: flex;
  }
  .social a{
    padding: 0px 10px 0px 0px;
  }

  .navigation{

    width: 60%;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 0px;
    color: white;
   }
   .navigation a{
     color: white;
      text-decoration: none;
    }
  
    @media only screen and (max-width: 576px) {
        .navigation{

            width: 60%;
            padding-left: 10px;
            }
            .copyright-text{
              margin-left: 8px;
             
            }
            .copyright-text .white{
              margin-left: 0px;
            }
          
          .social-container{
            margin: auto;
            margin-top: 20px;
            margin-left: 0%;
            padding: 0px;
            
          }
    }


@media only screen and (max-width: 993px) and (min-width: 576px){
    .navigation{

        width: 100%;
        padding-left: 15%;
        
      }
}

@media only screen and (min-width: 993px){
  .copyright-text{
    margin-left: 5%;
   
  }
  .copyright-text .white{
    margin-left: 10px;
  } 

}
@media only screen and (min-width: 576px){
  .copyright-text .white{
    margin-left: 8px;
  }


}


