/* HeroesComponent's private CSS styles */
.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .heroes li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .heroes li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .heroes li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .heroes li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
  .heroes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

  .picker {
    display: inline;
    border: 1px solid lightgray;
    padding : 4px;
  }
  input {
    border: 0;
  }
  
  .arrow{
    width: 40px;
    height: 20px;
  }
   .header .logo{
    background-color: blueviolet;
  }




  .purpose-banner a i{
    border-radius: 22px;
    padding-left: 16px;
    padding-top: 12px;
  }

.purpose-banner .item{
  height: auto;
  padding: 0px;
}
.purpose-banner{
    width: 100%;
    position: relative; 
    margin: 0px;
}
.purpose-banner img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
  .register-banner {
  
    width: 100%;
    height: 600px;
    position: relative;
 }
 .register-banner .overlay {
    float: center;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 2em;
    bottom: 30%;
    z-index: 1000;

    align-items: center;
    margin: auto;
    width: 50%;
    height: 100px;

    color: #FFFFFF;
    font-weight: bold;

 }


 .register-banner img{
  object-fit: cover;

  width: 100%;
  height: 100%;

 }


 
 .email-input  button:focus{
  
    color: rgba(255, 255, 255, 0.7);
  
}
.register-banner  button:focus{
  
  color: rgba(255, 255, 255, 0.7);
}

  .register-banner .button  {
    margin: 0 auto;
    border-radius: 20px;
    width: 220;
    height: 40px;
    font-size: 12px;
    padding: 10px 35px 10px 35px;
    font-weight: 900;

  }
  .email-input .button  {
    margin: 0 auto;
    margin-right: 50px;
    width: 220;
    height: 40px;
    font-size: 12px;
    padding: 10px 35px 10px 35px;
    font-weight: 900;

  }
  .register-banner .title{
    font-size: 40px;
    font-weight: 900;
    line-height: 1.1em; 
    letter-spacing: 4px;
  }

.purpose-banner-content{
  margin: 10%;

}


.register-input{
  width: 100%; 
  
  background-color: rgb(247, 218, 73);
}





.email-input input
{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  width: 90%;
  outline:none;
  

}
.email-input input.middle:focus {
  outline-width: 0;
}



  .register-input .email-input{
    margin-top: 25px;
    margin-bottom: 25px;
    height:40px;
    margin-left: 10px;
    margin-right: 10px;
  
    display: flex;
  }
  .register-sentence
  {
    padding:30px; padding-left:100px; font-size: 24px;
  
  }

  @media only screen and (max-width: 993px) {
  
    .register-sentence{
      padding: 0px;
      margin-bottom: 10px;
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 10px;
    }
    .email-input .button{
      margin-right: 10px;
    }
   
    
  }
@media only screen and (max-width: 768px) {
  .register-input .email-input{
    margin: 10px;
    
  }
  
}
@media only screen and (max-width: 576px) {
    
  
  
 
    .register-input .email-input{
      margin-top: 0px;
      margin-bottom: 10px;
      margin-left: 30px;
     
    }
    .register-sentence{
      padding-bottom: 0px;
      padding-top: 10px;
    }
  
}

@media only screen and (max-width: 993px) and (min-width: 576px){
  .register-input .email-input{
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 30px;
   
  }

  
  
}

@media only screen and (max-width: 576px) 
{
  .purpose-banner .item{
    
    height: auto;

  }
  .purpose-banner-content{

    margin-top: 30px;
    margin-bottom: 20px;
    
  }
 
}



@media only screen and (max-width: 370px) 
{
  .register-banner .overlay {
    left: 6%;
  }
 
}


