/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
:root {
  --main-bg-color:  white;
  --main-txt-color: blue;  
  --main-padding: 15px;  
  --main-green-color: rgb(0, 202, 172);
  
  --main-orange-color: rgb(245, 107, 74);
  --main-yellow-color:rgb(253, 217, 0);
}


.thick{
  font-weight: 900;
}
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }


  html, body {
    margin: 0;
    padding:0;
 
    height: 100%;
    width: 100%;

    overflow-x: hidden;
      overflow-y: overlay;
}

  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.nowrap {
  white-space: nowrap;
}

.purple {
  color: purple;
}

.green {
  color: var(--main-green-color);
}

.green-bg {
  background-color: var(--main-green-color);
}

.red {
  color: red;
}



.bold {
  font-weight: bold;
}

.white{
  color: white;
}



.nowrap {
  white-space: nowrap;
}

.text-uppercase {
  text-transform: uppercase;
}

.letter-spacing {
  letter-spacing: 1;
}

.ml-0{
  margin-left: 0px;
}

.mt-0{
  margin-top: 0px;
}
.mb-0{
  margin-bottom: 0px;
}
.ml-8{
  margin-left: 8px;
}
.ml-10{
  margin-left: 10px;
}
.ml-15{
  margin-left: 15px;
}
.ml-20{
  margin-left: 20px;
}

.mt-10{
  margin-top: 10px;
}
.mt-30{
  margin-top: 30px;
}

.mt-2{
  margin-top: 2px;
}

.mb-10{
  margin-bottom: 10px;
}
.mb-30{
  margin-bottom: 30px;
}
.pb-30{
  padding-bottom: 30px;
}



.pl-0{
  padding-left: 0px;
}

.mt-8{
  margin-top: 10px;
}

.mb-8{
  margin-bottom: 8px;
}
.mt-20{
  margin-top: 20px;
}
.mt-25{
  margin-top: 25px;
}

.center-text {
  text-align: center;
}
.button {
  
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 

}
.text-medium {
  font-size: 13px ;
}

.text-large {
  font-size: 20px ;
}

