.lb-bc-list {
    list-style-type: none;
    padding: 0;
    display: flex;

    margin-bottom: 0;
}
.lb-bc-list a:active {
    text-decoration: none;
    
  }
.lb-bc-list a span:active {
    color: var(--main-orange-color);

}

.navigation {
    margin-top: 5px;
    
}
.yellow{
    background-color: var( --main-yellow-color);
    padding: 0px 10px 0px 10px;
    font-size: 11px;
    font-weight: 900;
    letter-spacing:0.2px;
    height: 20px;
}
.green{
    background-color: rgb(93, 202, 172);
    padding: 0px 10px 0px 10px;
    font-size: 11px;
    font-weight: 900;
    letter-spacing:0.2px;
    height: 20px;
    
}
span{
    color: rgb(0, 0, 0);
}

.more-info{
  
    margin-right: 20px;
    
}

.lb-bc-list li{
    text-align: right;
    
    
} 
.more-info a{
    text-decoration: none;
}
.lb-bc-list a{
    text-align: right;

    text-decoration: none;
    
}
.lb-bc-list li a{

    padding: 2px;
 
    font-weight: 400;
    position: relative;
    margin-right: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
 
}
.lb-bc-list span:hover{
    color: var(--main-orange-color);
   
}




@media only screen and (max-width: 991px) {

    .navigation{
        margin-top: 0px;
    }
  
}